.Balance {
  text-align: left;
  width: initial; }
  @media (min-width: 576px) {
    .Balance {
      width: 500px; } }
  @media (min-width: 768px) {
    .Balance {
      width: 700px; } }
  @media (min-width: 992px) {
    .Balance {
      width: 900px; } }
  @media (min-width: 1200px) {
    .Balance {
      width: 1200px; } }
  .Balance .BalanceItem {
    background-color: #FAFAFA;
    -webkit-box-shadow: 2px 2px 15px 0px #a8a6a8;
    -moz-box-shadow: 2px 2px 15px 0px #a8a6a8;
    box-shadow: 2px 2px 15px 0px #a8a6a8;
    margin: 10px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    color: #646464; }
    .Balance .BalanceItem .CurrencyLogo {
      width: 15%;
      display: inline-block; }
    .Balance .BalanceItem .ValueInCurrency {
      font-size: 1.4em; }
      @media (min-width: 768px) {
        .Balance .BalanceItem .ValueInCurrency {
          font-size: 0.8em; } }
      @media (min-width: 1200px) {
        .Balance .BalanceItem .ValueInCurrency {
          font-size: 1em; } }
    .Balance .BalanceItem .BalanceCurrency {
      font-size: 1em;
      text-align: right; }
      @media (min-width: 768px) {
        .Balance .BalanceItem .BalanceCurrency {
          font-size: 0.6em; } }
      .Balance .BalanceItem .BalanceCurrency span {
        display: block; }
    .Balance .BalanceItem img {
      width: 50%; }
      @media (min-width: 768px) {
        .Balance .BalanceItem img {
          width: 100%; } }

.apiKeyInput {
  width: 65%; }

.WalletHeader {
  text-align: left;
  background-color: #FAFAFA;
  color: #646464; }

.CommunityStats {
  background-color: #FAFAFA;
  color: #646464; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }

.App {
  text-align: center;
  font-size: calc(10px + 2vmin); }
  .App input {
    font-size: 0.6em; }

.App-logo {
  width: 6%;
  max-width: 50px;
  margin: 5px; }

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  color: #4055a6; }
  .App-header h1 {
    font-size: 1.4em;
    display: inline; }
    @media (min-width: 576px) {
      .App-header h1 {
        font-size: 1.2em; } }

.App-body {
  background-color: #4055a6;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.disclaimer {
  font-size: 10pt; }
